.DS_Store
._.DS_Store

*.seed
*.log
*.dat
*.out
*.pid
*.gz


logs/*
/.idea
package-lock.json
node_modules
dist/
/labToOmrsMediator/server/nbproject/private/
/omrsToNidaMediator/server/nbproject/private/