.DS_Store
._.DS_Store

*.seed
*.log
*.dat
*.out
*.pid
*.gz


logs/*
/.idea
package-lock.json
node_modules
dist/
/rhies_LabwaretoOpenMRSMediator/server/nbproject/private/
/rhies_NIDAtoOpenMRSMediator/server/nbproject/private/
/rhies_ClientRegistryMediator /server/nbproject/private/

